/* Top-bar-form */
.Home_form{
    width: 100%;
    height: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    margin: 0.5vw;
}

.search-input{
    border-style: solid;
    border-width: 1px;
    margin: 1vw;
    height: 2vw;
    width: 14vw;
    padding-left: 1vw;
    border-radius: 1vw;
}

.right_content_form{
    position: fixed;
    padding: 1rem;
    height: 100%;
    top: 0;
    left: 80%;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.212);
}

/* Profile-form */
.Profile-form{
    position: fixed;
    top: 12%;
    left: 1%;
}
.Profile-user-img-form{
    background-color: azure;
    padding: 10vw 3vw;
}

/* center-form */
.center-form{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 765px) { 
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 3;
            transform: none;
        }
    }

    .letf_content_form{
        animation: fadeIn 1s ease-in-out;
        display: none;
    }

    .center-form{
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        animation: fadeIn 1s ease-in-out;
    }

    .right_content_form{
        animation: fadeIn 1s ease-in-out;
        display: none;
    }
}

