.Comment{
    padding: 2%;
}

.comment_input_form{
    border: 0;
    width: 80%;
    border-radius: 20px;
    padding: 2%;
    color: black;
    background-color: rgb(237, 237, 237);
}

.comment-btn{
    border: 0;
    margin-left: 1%;
    padding: 2%;
    border-radius: 20px;
    color: white;
    background-color: royalblue;
}